body{
    background-color: #eaeaee;
}
.card {
    border-radius: 20px;
    overflow: hidden;
}
.card-footer {
    color: #727272;
}
.navbar{
    border-left: solid red 2px;
}
.select-lang{
    border: none;
    background: transparent;
    outline: none;
    margin-right: 2rem;
    appearance: none;
    -webkit-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M15.4 7.6c-.4-.4-1-.4-1.4 0L10 11.2 5 7.6c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l5 5c.2.2.5.3.7.3s.5-.1.7-.3l5-5c.4-.4.4-1 0-1.4z"/></svg>') no-repeat right center;
    background-size: 12px 12px;
    padding-right: 20px;
}

.card-footer {
    background-color: white;
}

.icon {
    background: none;
    border-radius: 5px;
    color: #ff0000; /* red text */
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

}

.icon::before {
    content: url('data:image/svg+xml;utf8,<svg fill="red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path stroke="%23ff0000" stroke-width="2" d="M19 6h-3V5c0-1.1-.9-2-2-2h-4c-1.1 0-2 .9-2 2v1H5C3.9 6 3 6.9 3 8v11c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zM8 5h4v1H8V5zm8 14H8v-6h8v6zm2-8H6V8h12v3z"/></svg>');
    display: inline-block;
    height: 20px;
    width: 20px;

}
.btn-edit{
    border: solid 1px gray;
    padding: 10px 20px;
}

.btn-edit:hover{
    background-color: #eeeeee;
}
.filter-project{
    width: 100vw;
    height: 20px;
}
.filter-container {
    background: white;
    border-radius: 5px;
    padding: 15px;
    max-height: 54px;
    box-shadow: 0px 0px 5px 0px rgba(206,206,206,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(206,206,206,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(206,206,206,0.75);
}
.input-filter{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.btn-filter{
    border-radius: 5px;
    padding: 15px;
    max-height: 54px;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='red' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}